<div class="border-bottom">
  <div class="float-left">
    <ul class="menu">
      <li class="menu"><a href="./home">Trang chủ</a></li>
      <li class="menu"><a href="./listcategory">Danh mục</a></li>
      <li class="menu"><a href="./listproduct">sản phẩm</a></li>
      <li class="menu"><a href="./listorder">Đơn hàng</a></li>
      <li class="menu"><a href="./listcustomer">Khách hàng</a></li>
    </ul>
  </div>
  <div class="float-right">
    Hello <b><%=session.admin.username%></b> | <a href="./logout">Đăng xuất</a>
  </div>
  <div class="float-clear"></div>
</div>