<html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
  <meta charset="utf-8">
</head>

<body class="admin">
  <%- include('./_menu.ejs') %>
  <div class="align-center">
    <h2 class="text-center">TRANG CHỦ</h2>
    <div class="text-center">HNLP</div>
    <div class="text-center">Đồ án cuối kì</div>
    <div class="text-center">Môn học chuyên đề lập trình ứng dụng Web</div>
    <a href=""><img src="/images/anhnhom.png" width="900" height="600" alt=""></a>

  </div>

</body>

</html>